@font-face {
  font-family: "Kiwi Maru";
  src: local("Kiwi Maru"),
    url("./fonts/Kiwi_Maru/KiwiMaru-Regular.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

* *::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Kiwi Maru", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --black-3: rgba(0, 0, 0, 0.03);
  --black-12: rgba(0, 0, 0, 0.12);
  --black-24: rgba(0, 0, 0, 0.24);
  --black-38: rgba(0, 0, 0, 0.38);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-87: rgba(0, 0, 0, 0.87);
}
